@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');

*{
    font-family:Arial,sans-serif; 
}

.subtitulo{
    font-family: 'Lora',TimesNewRoman,serif;
}

h1{
    font-family: 'Montserrat',Georgia,serif;
}

#informacion-personal{
    background-color:#ca7826;
}

#informacion-personal p{
    color:#fff3ec;
}

#educacion{
    background-color:#28e447;
}

#educacion p{
    color:#9b4f23;
}

#experiencia{
    background-color:#d6ec10;
}

#habilidades{
    background-color:#18bae2;
}

#habilidades ul{
    color:#116409;
}

#proyectos{
    background-color:#ee46bb;
}

#proyectos p{
    color:#1aecec;
}

#formulario{
    background-color:#c720dd;
}

section {
    margin: 2px 1px 1.5px;
    margin-top: 0.8rem;
    border: 1pt solid black;
    padding: 2% 1.2%;
}